# Build
/target

# Logs
*.log

# Compiled Java classes
*.class

# Application properties (credentials, configs)
application.properties

# Environment variables
.env

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.settings/

# MacOS
.DS_Store

# Node (se tiver frontend React)
node_modules/
dist/
